parameters:
	ignoreErrors:
		-
			message: '#^Match expression does not handle remaining value\: mixed$#'
			identifier: match.unhandled
			count: 1
			path: Modules/Auth/app/Http/Controllers/AuthController.php

		-
			message: '#^Access to an undefined property Modules\\Auth\\Http\\Resources\\UserResource\:\:\$address\.$#'
			identifier: property.notFound
			count: 1
			path: Modules/Auth/app/Http/Resources/UserResource.php

		-
			message: '#^Access to an undefined property Modules\\Auth\\Http\\Resources\\UserResource\:\:\$artisan\.$#'
			identifier: property.notFound
			count: 1
			path: Modules/Auth/app/Http/Resources/UserResource.php

		-
			message: '#^Access to an undefined property Modules\\Auth\\Http\\Resources\\UserResource\:\:\$avatar\.$#'
			identifier: property.notFound
			count: 1
			path: Modules/Auth/app/Http/Resources/UserResource.php

		-
			message: '#^Access to an undefined property Modules\\Auth\\Http\\Resources\\UserResource\:\:\$created_at\.$#'
			identifier: property.notFound
			count: 1
			path: Modules/Auth/app/Http/Resources/UserResource.php

		-
			message: '#^Access to an undefined property Modules\\Auth\\Http\\Resources\\UserResource\:\:\$email\.$#'
			identifier: property.notFound
			count: 1
			path: Modules/Auth/app/Http/Resources/UserResource.php

		-
			message: '#^Access to an undefined property Modules\\Auth\\Http\\Resources\\UserResource\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: Modules/Auth/app/Http/Resources/UserResource.php

		-
			message: '#^Access to an undefined property Modules\\Auth\\Http\\Resources\\UserResource\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: Modules/Auth/app/Http/Resources/UserResource.php

		-
			message: '#^Access to an undefined property Modules\\Auth\\Http\\Resources\\UserResource\:\:\$phone\.$#'
			identifier: property.notFound
			count: 1
			path: Modules/Auth/app/Http/Resources/UserResource.php

		-
			message: '#^Access to an undefined property Modules\\Auth\\Http\\Resources\\UserResource\:\:\$roles\.$#'
			identifier: property.notFound
			count: 1
			path: Modules/Auth/app/Http/Resources/UserResource.php

		-
			message: '#^Call to an undefined method Modules\\Auth\\Http\\Resources\\UserResource\:\:hasCompleteCheckoutProfile\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: Modules/Auth/app/Http/Resources/UserResource.php

		-
			message: '#^Call to an undefined method Modules\\Auth\\Http\\Resources\\UserResource\:\:isArtisan\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: Modules/Auth/app/Http/Resources/UserResource.php

		-
			message: '#^Call to an undefined method Laravel\\Socialite\\Contracts\\Provider\:\:stateless\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: Modules/Auth/app/Services/SocialAuthService.php

		-
			message: '#^Call to an undefined method Faker\\Generator\:\:state\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: Modules/Auth/database/factories/ArtisanFactory.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/Admin/ArtisanController.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 3
			path: app/Http/Controllers/Admin/CategoryController.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/Admin/DashboardController.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 5
			path: app/Http/Controllers/Artisan/AuctionController.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 3
			path: app/Http/Controllers/Artisan/BidController.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 3
			path: app/Http/Controllers/Artisan/DashboardController.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 4
			path: app/Http/Controllers/Artisan/OrderController.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 3
			path: app/Http/Controllers/Artisan/ProductController.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 3
			path: app/Http/Controllers/Artisan/StoreController.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 2
			path: app/Http/Controllers/Buyer/AuctionController.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/Buyer/BidController.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/Buyer/CartController.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 2
			path: app/Http/Controllers/Buyer/CategoryController.php

		-
			message: '#^Access to an undefined property App\\Models\\Product\:\:\$quantity\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/Buyer/OrderController.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 4
			path: app/Http/Controllers/Buyer/OrderController.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 2
			path: app/Http/Controllers/Buyer/ProductController.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 2
			path: app/Http/Controllers/Buyer/StoreController.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/HomeController.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/ProfileController.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\AuctionResource\:\:\$artisan\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Resources/AuctionResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\AuctionResource\:\:\$category\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Resources/AuctionResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\AuctionResource\:\:\$description\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/AuctionResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\AuctionResource\:\:\$ends_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/AuctionResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\AuctionResource\:\:\$highestBid\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Resources/AuctionResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\AuctionResource\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/AuctionResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\AuctionResource\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/AuctionResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\AuctionResource\:\:\$reserve_price\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/AuctionResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\AuctionResource\:\:\$slug\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/AuctionResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\AuctionResource\:\:\$starting_price\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Resources/AuctionResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\AuctionResource\:\:\$starts_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/AuctionResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\AuctionResource\:\:\$status\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/AuctionResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\AuctionResource\:\:\$store\.$#'
			identifier: property.notFound
			count: 3
			path: app/Http/Resources/AuctionResource.php

		-
			message: '#^Call to an undefined method App\\Http\\Resources\\AuctionResource\:\:bids\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Http/Resources/AuctionResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\OrderResource\:\:\$created_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/OrderResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\OrderResource\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/OrderResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\OrderResource\:\:\$items\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/OrderResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\OrderResource\:\:\$notes\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/OrderResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\OrderResource\:\:\$payment_method\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/OrderResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\OrderResource\:\:\$payment_status\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/OrderResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\OrderResource\:\:\$shipping_address\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/OrderResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\OrderResource\:\:\$status\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/OrderResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\OrderResource\:\:\$total_amount\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/OrderResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\ProductResource\:\:\$artisan\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Resources/ProductResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\ProductResource\:\:\$average_rating\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/ProductResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\ProductResource\:\:\$category\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Resources/ProductResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\ProductResource\:\:\$created_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/ProductResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\ProductResource\:\:\$description\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/ProductResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\ProductResource\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/ProductResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\ProductResource\:\:\$is_published\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/ProductResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\ProductResource\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/ProductResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\ProductResource\:\:\$price\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/ProductResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\ProductResource\:\:\$slug\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/ProductResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\ProductResource\:\:\$stock\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/ProductResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\ProductResource\:\:\$store\.$#'
			identifier: property.notFound
			count: 3
			path: app/Http/Resources/ProductResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\ReviewResource\:\:\$comment\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/ReviewResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\ReviewResource\:\:\$created_at\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/ReviewResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\ReviewResource\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/ReviewResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\ReviewResource\:\:\$rating\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/ReviewResource.php

		-
			message: '#^Access to an undefined property App\\Http\\Resources\\ReviewResource\:\:\$user\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Resources/ReviewResource.php

		-
			message: '#^Using nullsafe method call on non\-nullable type Illuminate\\Support\\Carbon\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 2
			path: app/Models/Auction.php

		-
			message: '#^Right side of && is always true\.$#'
			identifier: booleanAnd.rightAlwaysTrue
			count: 2
			path: app/Policies/ProductPolicy.php

		-
			message: '#^Using nullsafe method call on non\-nullable type Illuminate\\Support\\Carbon\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Services/AuctionService.php

		-
			message: '#^Access to an undefined property App\\Models\\Product\:\:\$quantity\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/CartService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/CartService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$product\.$#'
			identifier: property.notFound
			count: 5
			path: app/Services/CartService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$quantity\.$#'
			identifier: property.notFound
			count: 4
			path: app/Services/CartService.php

		-
			message: '#^Method App\\Services\\CartService\:\:getOrCreateAuthenticatedCart\(\) should return App\\Models\\Cart but returns Illuminate\\Database\\Eloquent\\Model\.$#'
			identifier: return.type
			count: 1
			path: app/Services/CartService.php

		-
			message: '#^Using nullsafe property access "\?\-\>quantity" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 2
			path: app/Services/CartService.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$artisan_id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/OrderCheckoutService.php

		-
			message: '#^If condition is always true\.$#'
			identifier: if.alwaysTrue
			count: 1
			path: app/Services/ProductDetailService.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Support\\Collection\<int,Illuminate\\Database\\Eloquent\\Model\>\:\:sum\(\) expects \(callable\(Illuminate\\Database\\Eloquent\\Model\)\: int\)\|string\|null, Closure\(App\\Models\\Product\)\: int given\.$#'
			identifier: argument.type
			count: 1
			path: app/Services/ProductService.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: app/View/Components/AppLayout.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: app/View/Components/GuestLayout.php
