parameters:
	ignoreErrors:
		-
			message: '#^Match expression does not handle remaining value\: mixed$#'
			identifier: match.unhandled
			count: 1
			path: Modules/Auth/app/Http/Controllers/AuthController.php

		-
			message: '#^Access to an undefined property Modules\\Auth\\Http\\Resources\\UserResource\:\:\$address\.$#'
			identifier: property.notFound
			count: 1
			path: Modules/Auth/app/Http/Resources/UserResource.php

		-
			message: '#^Access to an undefined property Modules\\Auth\\Http\\Resources\\UserResource\:\:\$artisan\.$#'
			identifier: property.notFound
			count: 1
			path: Modules/Auth/app/Http/Resources/UserResource.php

		-
			message: '#^Access to an undefined property Modules\\Auth\\Http\\Resources\\UserResource\:\:\$avatar\.$#'
			identifier: property.notFound
			count: 1
			path: Modules/Auth/app/Http/Resources/UserResource.php

		-
			message: '#^Access to an undefined property Modules\\Auth\\Http\\Resources\\UserResource\:\:\$created_at\.$#'
			identifier: property.notFound
			count: 1
			path: Modules/Auth/app/Http/Resources/UserResource.php

		-
			message: '#^Access to an undefined property Modules\\Auth\\Http\\Resources\\UserResource\:\:\$email\.$#'
			identifier: property.notFound
			count: 1
			path: Modules/Auth/app/Http/Resources/UserResource.php

		-
			message: '#^Access to an undefined property Modules\\Auth\\Http\\Resources\\UserResource\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: Modules/Auth/app/Http/Resources/UserResource.php

		-
			message: '#^Access to an undefined property Modules\\Auth\\Http\\Resources\\UserResource\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: Modules/Auth/app/Http/Resources/UserResource.php

		-
			message: '#^Access to an undefined property Modules\\Auth\\Http\\Resources\\UserResource\:\:\$phone\.$#'
			identifier: property.notFound
			count: 1
			path: Modules/Auth/app/Http/Resources/UserResource.php

		-
			message: '#^Access to an undefined property Modules\\Auth\\Http\\Resources\\UserResource\:\:\$roles\.$#'
			identifier: property.notFound
			count: 1
			path: Modules/Auth/app/Http/Resources/UserResource.php

		-
			message: '#^Call to an undefined method Modules\\Auth\\Http\\Resources\\UserResource\:\:hasCompleteCheckoutProfile\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: Modules/Auth/app/Http/Resources/UserResource.php

		-
			message: '#^Call to an undefined method Modules\\Auth\\Http\\Resources\\UserResource\:\:isArtisan\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: Modules/Auth/app/Http/Resources/UserResource.php

		-
			message: '#^Call to an undefined method Laravel\\Socialite\\Contracts\\Provider\:\:stateless\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: Modules/Auth/app/Services/SocialAuthService.php

		-
			message: '#^Call to an undefined method Faker\\Generator\:\:state\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: Modules/Auth/database/factories/ArtisanFactory.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/Admin/ArtisanController.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/Admin/DashboardController.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 3
			path: app/Http/Controllers/Artisan/DashboardController.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 3
			path: app/Http/Controllers/Artisan/StoreController.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 2
			path: app/Http/Controllers/Buyer/StoreController.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/HomeController.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/ProfileController.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: app/View/Components/AppLayout.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: app/View/Components/GuestLayout.php
